*{
    font-family:'Courier New', Courier, monospace;
}
body {
    margin:0;
    background-color:antiquewhite;
    animation:10s linear infinite coloring;
}
@keyframes coloring {
    0%,100% {
        background-color:rgb(219, 208, 193);
    }
    50% {
        background-color:rgb(221, 200, 242);
    }
}
header {
    width:100svw;
    height:35px;
    text-align:center;
    font-size:30px;
    background-color:cadetblue;
    position:absolute;
    border-bottom:3px solid rgb(0, 68, 255);
    top:0;
    right:0;
}
footer {
    width:100vw;
    height:35px;
    text-align:center;
    font-size:30px;
    background-color:cadetblue;
    position:absolute;
    border-top:3px solid rgb(0, 68, 255);
    bottom:0;
    right:0;
}
main {
    top:70px;
    left:5px;
    width:1000px;
    font-size:20px;
    color:black;
    position:relative;
}
#Introduction {
    font-size:34px;
    left:22px;
    position:inherit;
}
.Color {
    color:red;
}
a {
    text-decoration: none;
    color:rgb(22, 22, 177);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px;
}
a:hover {
    color:blueviolet;
}
#Homepage {
    color:red;
}
#Homepage:hover {
    color:blueviolet;

}
#SmileyFace {
    width:200px;
    height:200px;
    position:absolute;
    left:1100px;
    top:30%;
    animation:3.5s linear infinite spinny;
    z-index:-100;
    pointer-events: none;
}
@keyframes spinny {
    0% {
        transform:rotate(0deg)scale(1);
    }
    50% {
        transform:rotate(180deg)scale(1.1);
    }
    100% {
        transform:rotate(360deg)scale(1);
    }
}
#OVER9000 {
    margin:0;
}
#OVER9000:hover {
    color:crimson;
    z-index:1;
}